[Desktop Entry]
Encoding=UTF-8
Name=Hardware Lister
Comment=Browse hardware on host computer
StartupNotify=true
Exec=/usr/bin/lshw-gui
Icon=lshw-gui
Terminal=false
Type=Application
Categories=GTK;System;
